.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;

    .ingredient {
        display: grid;
        grid-template-columns: 1fr 1fr max-content;
        column-gap: 8px;
        align-items: center;
    }

    .tag {
        display: grid;
        grid-template-columns: 1fr max-content;
        column-gap: 8px;
        align-items: center;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
        align-items: center;
        margin-bottom: 16px;
    }
}

.mb-1 {
    margin-bottom: 16px;
}