<p>home-page works!</p>
<div>
    Block with general text
</div>
<!-- tag of tags; track tag; -->
<div class="wrap">
    @for( item of recipes; track item.id) {
        <!-- <p>{{item | json}}</p> -->
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>{{item.name}}</mat-card-title>
              <mat-card-subtitle>{{item.owner}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="item.imageUrl ? item.imageUrl : 'https://www.foodservicerewards.com/cdn/shop/t/262/assets/fsr-placeholder.png?v=45093109498714503231652397781'" alt="Photo">
            <mat-card-content>
              <p>
                {{item.descriprion}}
              </p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    }
</div>



